.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 30;
    horizontal-align: center;
}

.button {
    margin-top: 12;
    padding-left: 24;
    background-color: lightgray;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
    margin: 0 20;
    text-align: center;
}

.cards {
    font-family: cards, "Playing Cards";
    text-align: center;
    font-size: 140;
}

.red {
    color: #bd1028;
}

.black {
    color: black;
}

#card {
    border-radius: 10;
    border-color: black;
    border-width: 2;
    height: 440;
    width: 330;
}

#card .black Label {
    font-color: black;
}

#card .red Label {
    font-color: #bd1028;
}


#card Label {
    font-family: hoyle, "Hoyal Playing Cards";
}


.cardRightPip {
    font-size: 50;
    horizontal-align: center ;
    padding-left: 2;
    text-align: center;
    width: 50;

}

.cardLeftPip {
    font-size: 50;
    horizontal-align: center ;
    text-align: center;
    width: 50;

}

.offset3 .cardLeftPip, .offset3 .cardRightPip {
    padding-right: 5;
}

.cardRightValue, .cardLeftValue {
    font-size: 78;
    width:50;
    text-align: center;
}

.pip {
    horizontal-align: center ;
    vertical-align: center;
    font-size: 104;
    width: 76;
    text-align: center;
}

.pipr {
    horizontal-align: center ;
    vertical-align: center;
    font-size: 104;
    width: 76;
    text-align: center;
}

.pipc {
    margin-bottom: 60;
}

.face {
    font-size: 280;
    background-color: blue;
    padding: -20;

}

.offset0 .pip {
  margin-left: 15;
}

.offset0 .pipr {
  margin-right: 8;
}

.offset1 .pip {
    margin-left: 30;
}

.offset1 .pipr {
    margin-right: 20;
}

.offset3 .pip {
    margin-right: 10;
}

.offset3 .pipr {
    margin-right: 26;
}


.offset2 .pip {
    margin-right: 0;
}

.offset2 .pipr {
    margin-right: 40;
}

.joker, .back {
    margin: 2;
}

.hidden {
    visibility: collapse;
}